<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block meta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '../app/Resources/public/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            {% javascripts '../app/Resources/public/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script>

                $(document).foundation();

                var elem = new Foundation.Sticky($('#topbar'));

                $("#topbar").css("margin-top:150px;");
            </script>

        {% endblock %}
    </body>
</html>
