{% extends "::base.html.twig" %}

{% block title %}
    {{ 'app.cost.title'|trans }}
{% endblock %}

{% block body %}

    <h2 class="tertiary-color text-center">{{ "app.cost.title"|trans }}</h2>
    <p>
        Le site est en construction ( La page tarif/réservation arrive bientôt )
    </p>

{% endblock body %}