@import 'settings';
@import 'foundation';

@include foundation-everything;

//paralax
.parallax-window {
    min-height: 500px;
    background: transparent;
}

.title-bar{
    background: rgba(1, 176, 240, 0.4);
}

.padding-top{
    padding-top: 2rem;
}

.padding-bottom{
    padding-bottom: 2rem;
}

.primary-color{
    color: $primary-color;
}
.secondary-color{
    color: $secondary-color;
}
.tertiary-color{
    color: $tertiary-color;
}
.full-width{
    max-width: 100%;
}
.fullfull-width{
    max-width: 100%;
    width:100%;
}

img.small {
    max-height: 175px;
}

#topbar1{
    position: absolute;
    top:0;
    left:0;
    right:0;
    height:50px;
}