@import 'settings';
@import 'foundation';

@include foundation-everything;

@import 'owl.carousel.min';
@import 'owl.theme.default.min';

//paralax
.parallax-window {
    min-height: 500px;
    background: transparent;
}

.title-bar{
    background: rgba(1, 176, 240, 0.4);
}
.title-bar a.white{
    color: #FFFFFF;
}
.title-bar a.white:hover{
    color: $tertiary-color;
}
.title-bar a.secondary-color{
    color: $secondary-color;
    margin-top:10px;
}
.title-bar a.secondary-color:hover{
    color: #FFFFFF;
}
.title-bar a.button {
    background: $success-color;
    border-radius: 40px;
}


.padding-1{
    padding:1rem;
}

.padding-top{
    padding-top: 2rem;
}

.padding-bottom{
    padding-bottom: 2rem;
}

.primary-color{
    color: $primary-color;
}
.secondary-color{
    color: $secondary-color;
}
.tertiary-color{
    color: $tertiary-color;
}
.full-width{
    max-width: 100%;
}
.fullfull-width{
    max-width: 100%;
    width:100%;
}

img.small {
    max-height: 175px;
}

img.medium {
    max-height: 250px;
}

img.large {
    max-height: 350px;
}

#topbar1{
    position: absolute;
    top:0;
    left:0;
    right:0;
    height:50px;
}

.form-panel{
    background: scale-color($body-background, $lightness: -14%);
    border:1px solid scale-color($body-background, $lightness: +14%);
    padding: 2rem;
}

textarea.medium{
    min-height: 100px;
}

footer.footer{
    min-height: 150px;
    background: rgba(1, 176, 240, 0.4);
}

a.button.success{
    color: #FFFFFF;
    border-radius: 40px;
    font-size: 2rem;
    font-weight: 700;
}
a.button.success:hover{
    color: $secondary-color;
}